*{
    padding:0;
    margin:0;
    background-color: black;
    color:azure;
    background: linear-gradient();
   
    -webkit-backdrop-filter: blur(10px);
}
nav{
    color:white;
    background-color:black;
    padding:15px;
    margin:15px;
    font-style: normal;
    border-color:bisque;
    border-width: 10px;
    border-style: solid;
    
}
li,ul,h1{
    display:inline;
    row-gap: 25px;
    
}
ul{
 
    margin-left: 60%;
    cursor:pointer;
    

}
li:hover{
    color:black;
    background-color: bisque;


  
}


.search{
    padding:15px;
    margin:15px;text-align: center;
     
   
   
}
input{
    width:600px;
    background-color: whitesmoke;
    color: black;
    height:25px;
   
}
.box{
   
    border-color:bisque;
    border-width: 5px;
    border-style: solid;
    display:inline-block;
    width:300px;
    margin-left: 50px;
    margin-top: 5px;
    text-align: center;
    align-items: center;
    cursor:pointer;

}
box:hover{
    background-color: black;
    color: bisque;
    
}
.about{
    text-align: center;
    margin-top: 50px;
    background-color: black;
   
    color:white
   
}
.contact{
    padding:20px;
    text-align:center;

}